Web References/InternetBankingHelper/JaizHelper0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.13.21.160:8013/JaizInternetBankingApi/JaizHelper.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" />
  <xs:import schemaLocation="http://172.13.21.160:8013/JaizInternetBankingApi/JaizHelper.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi.Models" />
  <xs:element name="getCharges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChargesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getChargesResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FundTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FundTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FundTransferResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FundTransferReversal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FundTransferReversalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FundTransferReversalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FundTransferStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FundTransferStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FundTransferStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nameenquirysingleitem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nameenquirysingleitemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameenquirysingleitemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fundtransfersingleitem_dc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fundtransfersingleitem_dcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fundtransfersingleitem_dcResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="txnstatusquerysingleitem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="txnstatusquerysingleitemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="txnstatusquerysingleitemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInfoByAccountNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acctno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInfoByAccountNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="GetCustomerInfoByAccountNoResult" nillable="true" type="q1:CustomerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInfoListByAccountNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acctno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInfoListByAccountNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="GetCustomerInfoListByAccountNoResult" nillable="true" type="q2:ArrayOfCustomerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInfoListByCif">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cif" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInfoListByCifResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="GetCustomerInfoListByCifResult" nillable="true" type="q3:ArrayOfCustomerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateADUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="clone" nillable="true" type="q4:LoginObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateADUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="ValidateADUserResult" type="q5:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="clone" nillable="true" type="q6:TokenObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="ValidateTokenResult" type="q7:TokenResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="clone" nillable="true" type="q8:TokenObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="UnlockTokenResult" type="q9:TokenResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsViaHelper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="clone" nillable="true" type="q10:SmsObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsViaHelperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="SendSmsViaHelperResult" type="q11:SmsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailViaHelper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="clone" nillable="true" type="q12:EmailObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailViaHelperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="SendEmailViaHelperResult" type="q13:EmailResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmCheque">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="clone" nillable="true" type="q14:ChequeHelper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmChequeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="ConfirmChequeResult" type="q15:ChqueResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateStatement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateStatementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi.Models" minOccurs="0" name="GenerateStatementResult" nillable="true" type="q16:ArrayOfStmtObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerFinanceInfoListByCif">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cif" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerFinanceInfoListByCifResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="GetCustomerFinanceInfoListByCifResult" nillable="true" type="q17:ArrayOfCustomerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInvestmentInfoListByCif">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cif" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInvestmentInfoListByCifResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="GetCustomerInvestmentInfoListByCifResult" nillable="true" type="q18:ArrayOfCustomerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFIClassificationList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFIClassificationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="GetFIClassificationListResult" nillable="true" type="q19:ArrayOfFIClasification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFIDetailsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFIDetailsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="GetFIDetailsListResult" nillable="true" type="q20:ArrayOfFIDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationShipOfficerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationShipOfficerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="GetRelationShipOfficerInfoResult" nillable="true" type="q21:RelationShipOfficerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchADUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchADUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="SearchADUserResult" nillable="true" type="q22:ADObjectResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="GetBranchListResult" nillable="true" type="q23:ArrayOfBranchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChequeLeaveStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="clone" nillable="true" type="q24:ChequeLeaveObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChequeLeaveStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="ChequeLeaveStatusResult" type="q25:ChqueLeaveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopCheque">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="clone" nillable="true" type="q26:ChequeLeaveObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopChequeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="StopChequeResult" type="q27:ChqueResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acctNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="GetCardInfoResult" nillable="true" type="q28:ArrayOfCardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="clone" nillable="true" type="q29:CardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="BlockCardResult" type="q30:CardResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="linkBVN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="clone" nillable="true" type="q31:BVNRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="linkBVNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi" minOccurs="0" name="linkBVNResult" nillable="true" type="q32:BVNInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>