Web References/InternetBankingHelper/JaizHelper1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JaizInternetBankingApi.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStmtObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StmtObj" nillable="true" type="tns:StmtObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStmtObj" nillable="true" type="tns:ArrayOfStmtObj" />
  <xs:complexType name="StmtObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="Balance" type="xs:double" />
      <xs:element minOccurs="0" name="CrDr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstrumentNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Narration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpeningBal" type="xs:double" />
      <xs:element minOccurs="0" name="TransDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unclear" type="xs:double" />
      <xs:element minOccurs="0" name="ValueDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StmtObj" nillable="true" type="tns:StmtObj" />
</xs:schema>