Web References/JaizRoleManager/JaizRoleManagerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.13.21.160:8013/RoleManagerService/JaizRoleManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoleManagerService.Models" />
  <xs:import schemaLocation="http://172.13.21.160:8013/RoleManagerService/JaizRoleManagerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://172.13.21.160:8013/RoleManagerService/JaizRoleManagerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RoleManagerService.Memo" />
  <xs:element name="ValidateADUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RoleManagerService.Models" minOccurs="0" name="clone" nillable="true" type="q1:LogonModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateADUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RoleManagerService.Models" minOccurs="0" name="ValidateADUserResult" nillable="true" type="q2:LoginResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserInRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RoleManagerService.Models" minOccurs="0" name="model" nillable="true" type="q3:UserInRoleModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserInRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RoleManagerService.Models" minOccurs="0" name="UserInRoleResult" nillable="true" type="q4:UserInRoleModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRolesForUserResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersInRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersInRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUsersInRoleResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllRolesResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RoleManagerService.Models" minOccurs="0" name="GetUserResult" nillable="true" type="q8:UserDetailResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginOnly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginOnlyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginOnlyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcctNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAccountDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcctNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RoleManagerService.Memo" minOccurs="0" name="GetAccountListResult" nillable="true" type="q9:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>